{% extends "base.html" %}
{% block content %}

<h1 class="column1">Members</h1>
    <h2 id="column2">Here you can see members information
        <li>
            <a href="/members/new"><i class="fa-solid fa-user-plus"></i></a>
        </li>
        <div>
            <ul>
                <p class = "image2"><img src="/static/img/pic2.jpg" width="250" height = "150">
                </p>
            </ul>
        </div>
    </h2>
    {% for member in members %}

    <section class="column3">
    <h3>Members name:</h3>
        <p>{{ member.full_name }}</p>
        <h4>Membership type:</h4>
        <p>{{member.membership_type}}</p>
        <form action="/members/{{ member.id }}/edit" method="GET">
            <input type="submit" value="Edit member">
        </form>
        <form action="/members/{{ member.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </section>
   
    {% endfor %}
{% endblock %}