body{
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
    color: rgb(217, 251, 251);
    background-color: rgb(219, 216, 127);
    margin: 0px;
    padding: 8px;
    border: solid red 2px;
     
    
}
.header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header ul{
    display: flex;
    order:1;
    margin-top:12 px;
    width: 100%;
}

@media screen and (min-width:550px) {
    .header ul{
        width:auto;
        margin-top:0;
        order: 1;
    }  
}
#logo {
    margin: 0;
    color: rgb(177, 177, 247);
    font-family: Raleway, sans-serif;
    font-size:  28px;
    background-color: rgb(102, 246, 198);
    text-align: center;
}

#homepage {
    text-align: center;
    font-size: 16;
    color:saddlebrown;
}

.wrapper{
    display:flex;
    flex-direction: column;
    min-height: auto;
}

.main {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../img/main.png"); 
    background-size: cover; 
    background-blend-mode: lighten;
}

.footer{
    background-color: rgb(238, 194, 129);
    border: solid purple 2px;
    /* grid-template-columns: repeat(3, 30%); */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    margin-left: 0%;
    padding: 20px;
    color: rgb(85, 82, 82);
}

.address{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
}

footer div p {
    font-style: italic;
    font-size: 16px;
    color:rgb(79, 26, 26);
    text-align: start;

}

.phone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
}

.hours{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
}
#members{
    margin:0;
    color:green;

}

#sessions{
    margin:0;
    color:green;

}

#attendance{
    margin:0;
    color:green;
}
